{% extends 'page.html' %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
      <!-- Primary content area -->
      <div class="row">

        <!-- Page Title Area -->
        <div class="col-xs-12">
          <div class="page-header">
            <h2 class="pull-left">Upload Activity Dataset</h2>
            <a href="{% url 'upload-link' %}" title="Add publication by URL" class="btn btn-primary pull-right" style="margin-top:21px">
              <i class="fa fa-file-text"></i> Add Blog Post
            </a>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Breadcrumbs navigation area -->
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><i class="fa fa-upload"></i> Upload</li>
          </ol>
        </div>

       {% include 'components/form-alerts.html' %}

        <!-- Upload Panel -->
        <div class="col-xs-12">
          <div class="panel panel-default">
  				  <div class="panel-heading">
              <h3 class="panel-title">Upload Activity Dataset</h3>
            </div>
  				  <div class="panel-body">
              <form class="dataset-upload-form" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">

                <div class="input-group image-preview">
  						    <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
  						    <span class="input-group-btn">
  						      <!-- image-preview-clear button -->
  						      <button type="button" class="btn btn-default image-preview-clear hidden">
                      <i class="fa fa-trash"></i> Clear
                    </button>

                    <!-- image-preview-input -->
                    <!-- Cleverly hide a file upload button in front of another button -->
  						      <div class="btn btn-default image-preview-input">
                      <i class="fa fa-folder-open"></i> <span class="image-preview-input-title">Browse</span>
  							      <input type="file" accept="text/csv, application/csv, application/vnd.ms-excel" name="dataset"/>
  						      </div>

                    <!-- Upload button -->
                    <button type="submit" class="btn btn-labeled btn-default">
                      <span class="btn-label"><i class="fa fa-upload"></i> </span>Upload</button>
  						    </span>
                </div>
                {% csrf_token %}
              </form>

    					<!-- Drop Zone -->
              <form id="dropForm" class="dataset-upload-form" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
    					<div class="upload-drop-zone" id="drop-zone">
                Or drag and drop dataset here
                <input type="file" name="dataset" />
              </div>
              {% csrf_token %}
              </form>

    				</div><!-- upload panel body ends -->
          </div><!-- upload panel ends -->
        </div><!-- upload panel row ends -->

        {% if report %}
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Upload Activity Report</h3>
            </div>
            <ul class="list-group">
            {% for item, count in report %}
              <li class="list-group-item">
                <span class="badge">{{ count }}</span>
                {{ item }}
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}


      </div><!-- primary content area ends -->
    </div><!-- container ends -->

    <!-- Loading Overlay -->
    <div id="loading-overlay" class="hidden">
      <div class="plus">
        <i class="fa fa-spin fa-spinner"></i>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {

      // add the loading context to the screen.
      function loading() {
        $("#loading-overlay").removeClass("hidden");
      }

      // Display preview in text body on file selection
      $("input[type=file]").change(function(e) {
        var fullPath = $(e.target).val();
        if (fullPath) {
        	var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        	var filename = fullPath.substring(startIndex);
        	if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
        		filename = filename.substring(1);
        	}
          $(".image-preview-filename").val(filename);
        }
      });

      $(".upload-drop-zone").on("dragenter", function(e) {
        $(".upload-drop-zone").addClass("drop");
      });

      $(".upload-drop-zone").on("dragleave", function(e) {
        $(".upload-drop-zone").removeClass("drop");
      });

      $(".upload-drop-zone input[type=file]").change(function(e) {
        loading();
        $("#dropForm").submit();
      });

      $(".dataset-upload-form").submit(function(e) {
        loading();
      });


      console.log("Trinket Uploader is started and ready!");
    });
  </script>
{% endblock %}
