<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-unstyled">
          <li>
            <small class="text-muted">
              Made by
              <a href="https://twitter.com/bbengfort">@bbengfort</a>
              and <a href="//twitter.com/tonyojeda3">@tonyojeda3</a>
            </small>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="text-right text-muted">
          <small>
            Copyright &copy; 2015 District Data Labs, All Rights Reserved
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
