<div class="col-xs-12">
  <div class="alerts">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% if form.errors %}
      {% for errors in form.errors.values %}
        {% for error in errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Whoops!</strong> {{ error }}
        </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</div>
